svg {
    width: 40px;
    height: 40px;
    transition: all 1000ms ease-in-out;
    &:hover {
        background-color: map-get($colores, hover-primario);
        padding: 10px;
        border-radius: 100%;
        path {
            fill: map-get($colores, claro);
        }
        circle {
            fill: map-get($colores, claro);
        }
    }
    path {
        fill: map-get($colores, claro);
    }
    circle {
        fill: map-get($colores, claro);
    }
    .verMas {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 20px;
        background-color: map-get($colores, secundario);
        padding: 8px 10px;
        color: map-get($colores, claro);
        border-radius: 10px;
        cursor: pointer;
        box-sizing: border-box;
        margin-bottom: 15px;
    }
}

.youtubeIcono {
   @extend %medidas;
   path {
    fill: map-get($colores, oscuro);
    }
   &:hover {
    background-color: map-get($colores, oscuro);
    padding: 10px;
    border-radius: 100%;
    path {
        fill: map-get($colores, claro);
    }
    circle {
        fill: map-get($colores, claro);
    }
}
}

@include mq(min,800px) {
    .verMas {
        width: 50%;
        background-color: map-get($colores, secundario);
        color: map-get($colores, claro);
        font-weight: bold;
    }
}