.contenedorIcono{
    width: 100%;
    text-align: center;
}

.video1{
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

li{
    list-style: none;
    margin-bottom: 20px;
    text-align: center;
}

a{
    text-decoration: none;
    color: map-get($colores, oscuro);
}

.boton{
    color: map-get($colores, claro);
    background-color: map-get($colores, oscuro);
    border-radius: 10px;
    padding: 10px;
}

@include mq(min,1200px) {

    .video1 {
        height: 500px;
    }
    
}