 

/* .tituloERb{
    transform: rotate (360deg);
    animate__rubberBand */






/* RESPONSIVE - VISTA TABLET */

@media only screen and (min-width: 800px) {
    /* main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
    /* .carrousel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .carrousel img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 20px;
        padding: 10px;
    } */
    .verMas {
        width: 50%;
        background-color: purple;
        color: white;
        font-weight: bold;
    }
    /* h2 {
        text-align: center;
        margin-bottom: 100px;
    }
    ul {
        display: flex;
    }
    ul li {
        margin-right: 15px;
    } */
    /* .carrousel img {
        width: 50%;
        margin-bottom: 20px;
        padding: 10px;
    } */
}


/* RESPONSIVE - VISTA COMPUTADORA */

@media only screen and (min-width: 1200px) {
    .video1 {
        height: 500px;
    }
    ul {
        display: flex;
    }
    ul li {
        margin-right: 25px;
    }
}